{% extends 'BackOfficeBundle:Default:layout.html.twig' %}
{% block content %}
    <table>
    {% for i in 0..10 %}
        <tr><td>{{ libelle }}{{ i }}</td><td>{{ value }}{{ i }}</td><td>{{ nb }}{{ i }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}
